:root {
    --darkText: #707070;
}

.flexChildColumn {
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.darkText {
    color: var(--darkText);
}

.controlButton {
    width: 30px;
    height: 30px;
    margin-top: 4px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-size: contain;
    display: inline-block;
}