.clock{
    flex: 1 100%;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    text-align: left;
    font-size: responsive 28px 32px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.chunk{
    margin: 0 5px;
    text-align: center;
    justify-content: flex-start;
    composes: darkText from '../common.css';
}

.title{
    text-transform: uppercase;
    font-weight: 400;
    font-size: responsive 8px 10px;
}